services:
  flask:
    build:
      context: .
      dockerfile: Dockerfile.app
    expose:
      - "8000"
    volumes:
      - ~/.aws:/root/.aws
      - ${AUDIO_HOST_PATH:-/audio}:/audio
      - ${FFMPEG_HOST_PATH:-/tmp}:/opt/bin   # Only for local deployment. If remote, then just attach tmp (useless)
      - ${COOKIES_HOST_PATH:-/tmp/cookies}:/tmp/cookies
      - ${PARTITION_PATH:-~/TEMP}/log/metrics:/var/log/metrics
      - ${PARTITION_PATH:-~/TEMP}/log/container-flask:/var/log/container-flask
      - ${DENO_INSTALL_PATH:-/opt/deno_install}:/opt/deno_install
    environment:
      - APP_ENV=${APP_ENV}
      - HOST_ENDPOINT=${HOST_ENDPOINT:-https://wav-helper.com}
    networks:
      - appnet

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${NGINX_HOST_CONFIG_PATH:-./nginx/default.cloud.conf}:/etc/nginx/conf.d/default.conf
      - ${LETSENCRYPT_HOST_PATH:-/tmp}:/etc/letsencrypt     # Only for cloud deployment.
      - ${AUDIO_HOST_PATH:-/audio}:/audio
      - ${PARTITION_PATH:-~/TEMP}/log/container-nginx:/var/log/container-nginx
    depends_on:
      - flask
    networks:
      - appnet

networks:
  appnet: